---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import { SITE, HOME, SOCIALS } from "@consts";
import ArrowCard from "@components/ArrowCard.astro";
import Link from "@components/Link.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import TagCloud from "@components/TagCloud.astro";

const blog = (await getCollection("blog"))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_POSTS_ON_HOMEPAGE);
---

<Layout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <aside data-pagefind-ignore>
      <h1 class="font-semibold text-black dark:text-white">Unstuck In Time</h1>
      <div class="space-y-16">
        <section>
          <article class="space-y-4">
            <span>
              <p>{SITE.DESCRIPTION}</p>
              <p>
                If you care about who I am, or the goals of this blog, check out
                my <Link href="/blog/about">about page</Link>.
              </p>
            </span>
            <span class="animate">
              <ul class="not-prose flex flex-wrap gap-2">
                {
                  SOCIALS.map((SOCIAL) => (
                    <li class="flex gap-x-2 text-nowrap">
                      <Link
                        href={SOCIAL.HREF}
                        external
                        aria-label={`${SITE.TITLE} on ${SOCIAL.NAME}`}
                      >
                        {SOCIAL.NAME}
                      </Link>
                      {"|"}
                    </li>
                  ))
                }
                <li class="line-clamp-1">
                  <Link
                    href={SITE.SOURCE}
                    aria-label={`GitHub for ${SITE.TITLE}`}
                  >
                    Suggest Changes
                  </Link>
                </li>
              </ul>
            </span>
          </article>
        </section>
        <section class="animate space-y-6">
          <div class="flex flex-wrap items-center justify-between gap-y-2">
            <h2 class="font-semibold text-black dark:text-white">
              Latest posts
            </h2>
            <Link href="/blog"> See all posts </Link>
          </div>
          <TagCloud />

          <ul class="not-prose flex flex-col gap-4">
            {
              blog.map((post) => (
                <li>
                  <ArrowCard entry={post} />
                </li>
              ))
            }
          </ul>
        </section>
      </div>
    </aside>
  </Container>
</Layout>
